<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/users.css">

    
    <title>Users</title>
    
</head>
<body>
<div>
    <h1>Submitted info</h1>
    
    <p><b>Name :</b><%=name%></p>
    <p><b>Location :</b><%=location %></p>
    <p><b>Favourite Language : </b><%=language %></p>
    <p><b>Comment :</b><%=comment %></p>
         
        
    <form action="/">
        <button>Go Back</button>
    </form>
</div>
    
</body>
</html>
    