<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>

<body>
    <h1>Welcome to Quoting Dojo</h1>
    <form action="/quotes" method="post">
        Name:
        <input type="text" name='name'>
        <br>
        Quote:
        <textarea name="quote" rows="8" cols="40"></textarea>
        <br>
        <input type="submit" value="Add my quote!">
    </form>
    <a href="/quotes">Skip to quotes!</a>
</body>

</html>